
@import "@material/chips/mdc-chips";

:root {
    --chip-selected-main-color: var(--mdc-theme-primary);
    --chip-selected-main-color-secondary: var(--mdc-theme-secondary);

    --chip-selected-bg-color: var(--contain-input-bg);
    --chip-selected-bg-color-secondary: var(--contain-input-bg);

    --chip-text-color: var(--mdc-theme-on);
    --chip-text-color-secondary: var(--mdc-theme-on-secondary);
}


.mdc-chip__ripple {
    top: 0!important;
    left: 0!important;
    border: none!important;
}

@mixin bw-chip($chip-selected-main-color, $chip-selected-bg-color, $chip-text-color){
    &.mdc-chip.mdc-chip--selected {
        color: $chip-selected-main-color;
        @include mdc-chip-fill-color($chip-selected-bg-color);
        .mdc-chip__ripple::before, &.mdc-chip__ripple::after {
            background-color: $chip-selected-bg-color;
        }

        .mdc-chip__checkmark {
            path {
                stroke: $chip-selected-main-color;
            }
        }
        &.outline {
            border: 1px solid $chip-selected-main-color;
        }
        .mdc-chip__icon {
            color: $chip-selected-main-color;
        }
    }
    // chiedere a marco
    // &.mdc-chip.outline {
    //     &:focus {
    //         @include mdc-chip-outline(1px, solid, $chip-text-color);
    //     }
    // }

}

.color-primary {
    @include bw-chip(var(--chip-selected-main-color), var(--chip-selected-bg-color),
     var(--chip-text-color));
}

.color-secondary {
    @include bw-chip(var(--chip-selected-main-color-secondary), 
    var(--chip-selected-bg-color-secondary), var(--chip-text-color-secondary));
}
