@import "@material/slider/mdc-slider";
@import "@material/ripple/mixins";

:root {
    --slider-color: var(--mdc-rgba-theme-primary);
    --slider-color-secondary: var(--mdc-rgba-theme-secondary);
}

@mixin bw-slider($slider-color) {
    &.mdc-slider {
        .mdc-slider__track, .mdc-slider__pin {
            background-color: rgba($slider-color, 1);
        }
        .mdc-slider__track-container {
            background-color: rgba($slider-color, 0.26);
        }
        .mdc-slider__thumb-container {
            height: auto;
            @include mdc-ripple-surface;
            @include mdc-ripple-radius-bounded();
            .mdc-slider__thumb {
                fill: rgba($slider-color, 1);
                stroke: rgba($slider-color, 1);
            }
        }    
    }
}

.color-primary {
    @include bw-slider(var(--slider-color));
}

.color-secondary {
    @include bw-slider(var(--slider-color-secondary));
}