@import "@material/slider/mdc-slider";
@import "@material/ripple/mixins";

// $sl-color-primary: var(--mdc-theme-primary);
// $sl-color-secondary: var(--mdc-theme-secondary);
$sl-color-primary: red;
$sl-color-secondary: red;

.color-primary {
    &.mdc-slider {
        .mdc-slider__thumb-container {
            height: auto;
            @include mdc-ripple-surface;
            @include mdc-ripple-radius-bounded();
            @include mdc-states($sl-color-primary, false);     
        }    
        @include mdc-slider-color-accessible($sl-color-primary);
    }
}

.color-secondary {
    &.mdc-slider {
        .mdc-slider__thumb-container {
            height: auto;
            @include mdc-ripple-surface;
            @include mdc-ripple-radius-bounded;
            @include mdc-states($sl-color-secondary, false);     
        }
        @include mdc-slider-color-accessible($sl-color-secondary);
    }
}