@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

:root {
    --draw-width: 300px;
    --draw-icon-color: #808080;
    --draw-text-color: #808080;
    --draw-bg-color: var(--mdc-theme--primary-bg);
    --draw-divider-color: #808080;
    --draw-active-icon-color: var(--mdc-theme-primary);
    --draw-active-text-color: var(--mdc-theme-primary);
}

// hidden page opacity
.mdc-drawer-scrim {
    background-color: rgba(0, 0, 0, 0.32);
}

.mdc-drawer {
    // height: -moz-available;
    height: -webkit-fill-available;
    @include mdc-drawer-width(var(--draw-width));
    @include mdc-drawer-surface-fill-color(var(--draw-bg-color));

    .mdc-list .mdc-list-item {
        color: var(--draw-text-color);
        .mdc-list-item__graphic {
            color: var(--draw-icon-color);
        }
        &.mdc-list-item--activated {
            color: var(--draw-active-text-color);
            .mdc-list-item__graphic {
                color: var(--draw-active-icon-color);
            }
        }
    }
}

