@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";


:root {
    --radio-border-color: var(--mdc-theme-primary);
    --radio-border-color-unchek: var(--radio-border-color);
    --radio-border-color-chek: var(--radio-border-color);
    --radio-fill-color: var(--radio-border-color);
    --radio-border-color-secondary: var(--mdc-theme-secondary);
    --radio-border-color-unchek-secondary: var(--radio-border-color-secondary);
    --radio-border-color-chek-secondary: var(--radio-border-color-secondary);
    --radio-fill-color-secondary: var(--radio-border-color-secondary);
}


@mixin bw-radio-color($ripple-color, $radio-border-color-unchek, 
$radio-border-color-chek, 
$radio-fill-color) {
    @include mdc-radio-checked-stroke-color($radio-border-color-unchek);
    @include mdc-radio-unchecked-stroke-color($radio-border-color-chek);
    @include mdc-radio-ink-color($radio-fill-color);
    .mdc-radio__ripple::before, .mdc-radio__ripple::after {
        background-color: $ripple-color!important;
    }
}

.color-primary {
    .mdc-radio {
        $ripple-color: var(--radio-border-color);
        @include bw-radio-color($ripple-color, var(--radio-border-color-unchek), 
        var(--radio-border-color-chek), var(--radio-fill-color));
    }
}

.color-secondary {
    .mdc-radio {
        $ripple-color: var(--radio-border-color);
        @include bw-radio-color($ripple-color, var(--radio-border-color-unchek-secondary), 
        var(--radio-border-color-chek-secondary), var(--radio-fill-color-secondary));  
    }
}
