// @import 'mixin.scss';

$slider-main-color: var(--mdc-theme-primary);
$slider-line-color: rgba(163, 155, 238, 0.253);
$tooltip-text-color: rgb(255, 255, 255);


$slider-main-color-secondary: var(--mdc-theme-secondary);
$slider-line-color-secondary: rgba(238, 155, 155, 0.253);

@keyframes ripple {
    from {
        opacity: 0.08;
        transform: scale(0.5);
      }
    to {
      opacity: 0.13;
      transform: scale(1);
    }
}

@mixin bw-bg-opacity($color, $opacity) {
    background: $color;
    opacity: $opacity;
}

@mixin bw-slider-knobs($slider-main-color, $slider-line-color) {
    div.round-bar {
        padding: 0!important;
    }
    
    div.round-bar-track {
        background-color: $slider-line-color!important;
        .track-round {
            background-color: $slider-main-color!important;
        }
    }
    .track-ball {
        background-color: $slider-main-color!important;
        box-shadow: none!important;
    
        &:hover::after, &:active::after, &:active::before {
            content: '';
            width:40px;
            height: 40px;
            display: block;
            position: absolute;
            top: -14px;
            left: calc(50% - 20px);
            border-radius: 50%;
        }
        &:hover::after {
            @include bw-bg-opacity($slider-main-color, 0.08);
        }
        &:active::before {
            opacity: 0.13;
            animation: ripple .1s;
            background: $slider-main-color;
        } 
    }

    .knobs-tooltip {
        height: 40px;
        width: 40px;
    }
}

.color-primary {
    @include bw-slider-knobs($slider-main-color, $slider-line-color);
}

.color-secondary {
    @include bw-slider-knobs($slider-main-color-secondary, $slider-line-color-secondary);
}