@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";

:root {
    --label-color: rgba(0, 0, 0, 0.6);
    --label-color-secondary: rgba(0, 0, 0, 0.6);
    
    --label-color-focus: var(--mdc-theme-primary);
    --label-color-focus-secondary: var(--mdc-theme-secondary);
    --focus-border-color: var(--label-color-focus);
    --focus-border-color-secondary: var(--label-color-focus-secondary);
    --input-text-color: var(--mdc-theme-text-primary-on-light);
    --input-text-color-secondary: var( --mdc-theme-text-secondary-on-light);
    --input-height: 45px;
    --input-error: rgb(209, 8, 8);
}


.mdc-text-field {
    width: 100%;
    &:not(.mdc-text-field--textarea) {
        height: var(--input-height);
    }
}

@mixin bw-text-input($label-color, $input-text-color, $label-color-focus, $focus-border-color) {
    // only for filled

    &.mdc-text-field {
        @include mdc-text-field-caret-color($label-color);
        @include mdc-text-field-ink-color($input-text-color);
        .mdc-floating-label {
            color: $label-color;
            &.mdc-floating-label--float-above {
                color: $label-color-focus;
            }
        }
        // only for filled
        @include mdc-text-field-bottom-line-color($label-color);
        @include mdc-text-field-hover-bottom-line-color($focus-border-color);

        .mdc-line-ripple {
            @include mdc-line-ripple-color($focus-border-color);
        }

        // only for outline
        @include mdc-text-field-focused-outline-color($focus-border-color);
        @include mdc-text-field-hover-outline-color($focus-border-color);
    }
}

.color-primary {
    @include bw-text-input(var(--label-color), var(--input-text-color), 
    var(--label-color-focus), var(--focus-border-color));
}

.color-secondary {
    @include bw-text-input(var(--label-color-secondary), var(--input-text-color-secondary), 
    var(--label-color-focus-secondary), var(--focus-border-color-secondary));
}

.color-error {
    @include bw-text-input(var(--label-color), var(--input-text-color-secondary), 
    var(--input-error), var(--input-error));
}


// gradient in outline
// .mdc-text-field--focused {
//     .mdc-notched-outline__trailing, .mdc-notched-outline__leading, .mdc-notched-outline__notch {
//         border: 2px solid transparent;
    
//         -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
//         -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
//         border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
//         border-image-outset: 2px;
//     }
//     .mdc-notched-outline__trailing {
//         border-image-slice: 1 1 1 0;
//     }
//     .mdc-notched-outline__leading {
//         border-image-slice: 1 0 1 1;
//     }
//     .mdc-notched-outline__notch {
//         border-image-slice: 0 0 1 0;
//     }
// }



// ADD CONTAIN TEXTAREA. OVERRIDE MATERIAL CLASS
.mdc-text-field--textarea:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined) .mdc-text-field__input {
    border-bottom: 1px solid;
    &.color-primary {
        border-bottom-color: var(--label-color-primary);
    }
    &.color-secondary {
        border-bottom-color: var(--label-color-secondary);
    }
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined) {
    background: whitesmoke;
}

.mdc-text-field--textarea:not(.mdc-text-field--outlined) .mdc-floating-label--float-above {
    transform: translateY(-106%) scale(0.75);
}

.mdc-text-field--textarea:not(.mdc-text-field--outlined) .mdc-floating-label {
    left: 16px;
}

.mdc-text-field--textarea:not(.mdc-text-field--outlined) .mdc-floating-label--float-above {
    font-size: 1rem;
}