@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/ripple/mixins";
@import '~material-design-icons/iconfont/material-icons.css';

.mdc-elevation--z1 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z2 {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z3 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z4 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z5 {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z6 {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z7 {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z8 {
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z9 {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14);
}

.mdc-elevation--z10 {
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
}



// non riaggiungere important! sballa tutto e a catena vanno aggiunti important ovunque.
.mdc-typography--headline6 {
    line-height: 1.5rem;
}

body {
    @extend .mdc-typography;
}



// Material Override
:root {
    --mdc-theme-primary: #AE1B21;
    --mdc-rgba-theme-primary: 174, 27, 33;

    --mdc-theme-on-primary: #ffffff;

    --mdc-theme-text-primary-on-light: #000000;
    --mdc-theme-text-secondary-on-light: #000000;

    --mdc-theme-secondary: #0b156b;
    --mdc-rgba-theme-secondary: 11, 21, 107;


    --mdc-theme-on-secondary: #cf96e6;
    --mdc-theme--secondary-bg: #000000;

    --mdc-theme--primary-bg: #f5f8f6;
    --mdc-theme-secondary-bg: #ffee00;


    --contain-input-bg: rgba(0, 0, 0, 0.12);

    --label-color: rgba(0, 0, 0, 0.6);
    --label-color-secondary: rgba(0, 0, 0, 0.6);

    --footer-text-color: var(--bw-text-link);
    --footer-text-hover-color: linear-gradient(93.61deg, #EB643F -0.04%, #F8017A 49.25%, #994E9D 99.89%);
    --footer-divider-color: linear-gradient(93.61deg, #EB643F -0.04%, #F8017A 49.25%, #994E9D 99.89%);


    --icon-selected-color: pink;
    // --mdc-theme-background: 
    // --mdc-theme-surface: black;
    // --mdc-theme-on-surface: black;
    // --mdc-text-primary-on-light: black;

    --bw-text-link: rgb(149, 149, 149);
    --bw-text-link-hover: rgb(29, 29, 29);

    --mdc-chip-selected: #158b15;
    --btn-text-color-secondary: white;
}

$bw-color-primary: #AE1B21!default;
$bw-color-secondary: #0b156b!default;
$bw-color-tertiari:  #313439!default;

$bw-text-primary-on-light: rgb(0, 0, 0);
$bw-text-secondary-on-light: rgb(0, 0, 0);


$bw-text-primary-on-dark: rgb(253, 253, 253);
$bw-text-secondary-on-dark: rgb(255, 255, 255);

$bw-text-link: rgb(149, 149, 149);
$bw-text-link-hover: rgb(29, 29, 29);

.bw-cta-link {
    @extend .mdc-typography--subtitle2;
 }

 .bw-caption {
    @extend .mdc-typography--caption;
    font-weight: 500;
 }

