
:root {
    --footer-text-color: var(--bw-text-link);
    --footer-text-hover-color: var(--bw-text-link-hover);
    --footer-divider-color: var(--mdc-theme-text-primary-on-light);
    --footer-bg: var(--mdc-theme--primary-bg);
}

$footer-cta-padding: 10px 0;

.bw-footer {
    background: var(--footer-bg);
    padding: 0 25px;
    .bw-footer-container {

        .footer-link-container {
            height: auto;
            margin: auto 0;
        }

        @media (max-width: 576px) {
            text-align: center;
            .bw-cta-link {
                display: block;
            }
        }
        @media (min-width: 767px) { 
            display: flex;
            justify-content: space-between;
        }
    }

    .bw-footer-container--middle .footer-link-container {
        margin: 0 15px;
    }
    
    .bw-footer-container--bottom, 
    .bw-footer-container--top, 
    .bw-footer-container--middle {
        @extend .bw-footer-container;
    }

    .bw-footer-container--bottom {
        padding: 20px 0;
    }

    
    .bw-footer-container--middle {
        padding: 27px 0;
    }

    .bw-footer-container--top {
        padding: 34px 0;
    }

    .bw-footer-container--bottom, 
    .bw-footer-container--top {
        @media (min-width: 767px) { 
            .bw-cta-link:not(:last-child) {
                padding-right: 30px;
            }
        }
    }

    .bw-footer-container--middle {
        .bw-cta-link {
            display: block;
        }
    }

    .bw-cta-link {
        padding: $footer-cta-padding;

        color: var(--footer-text-color);
        &:hover {
            background: var(--footer-text-hover-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .bw-caption {
        color: var(--footer-text-color);
    }

    .mdc-list-divider {
        height: 1px;
        background: var(--footer-divider-color);
    }

    // default spacing
    .mdc-list-divider {
        margin-bottom: 20px 0;
    }
}

// Theming
.footer-middle-center {
    margin: auto;
}